/*Global CSS Start*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Odibee+Sans&display=swap');

/*font-family: 'Archivo Narrow', ;
font-family: 'Lobster', ;*/
body{
    margin: 0;
    padding: 0;
}
/*Global CSS END*/

/*Sidebar CSS Start*/
.sidebar{
    width: 20vw;
    height: 100vh;
    background: #262626;
    float: left;
    position: fixed;
    font-family: 'Odibee Sans';
    overflow: hidden;
}
.photo img{
    width: 15vw;
    height: 330px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
}
.sidebar_menu{}
.mainmenu{
    list-style-type: none;
    margin-left: 20%;
}
.nav{
    transition: all .6s;
    line-height: 69px;
    width: 100%;
    padding: 5px 12px;
}
i{
    color: #fff;
    font-size: 32px;
    width: 20px;
    height: auto;
    margin-right: 15px;

}
.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 10px;
    
}
li.nav:hover{
    background-color: red;
    transition: ease-out 2s;
}
/*Sidebar CSS END*/


#home{
    background-image: url(../img/20191218_155816.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 80vw;
    height: 100vh;
    float: right;
    font-family: 'Lobster';
}
.details{
    position: absolute;
    z-index: 999;
    background-color: rgba(41, 66, 80, 0.85);
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.detail-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.detail-text h1{
    display: block;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
.detail-text h3{
    display: block;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
}
.detail-text img{
    width: 125px;
    height: 55px;
    vertical-align: middle;
    margin: 0 12px;
}

.detail-text a{
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid;
}


#skills{
    background-image: url(../img/hayat6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 80vw;
    height: 100vh;
    float: right;
    background-attachment: fixed;
}
.skills-bar{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 50px;
}
progress#file {
    background: #777;
    width: 25em;
    margin-bottom: 15px;
    height: 1.5em;
    margin-left: 120px;
    display: block;
}

label {
    color: #555;
    font-family: 'archivo narrow';
    font-size: 24px;
    display: inline-block;
    float: left;
    margin-right: 42px;
    font-weight: 700;
    line-height: 1;
}

#education{
    width: 80vw;
    height: 100vh;
    background-image: url(../img/hayat3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    font-family: 'Odibee Sans';
    align-items: center;
}
.marker{
    position: relative;
}
.marker::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    width: 52px;
    height: 5px;
    background-color: red;
}
.education-details {
    display: block;
    margin-left: 100px;
    margin-top: 40px;
}
h2.title {
    font-size: 40px;
    color: #233D5B;
}

.education-details p {
    font-size: 25px;
    color: #5f6667;
    font-family: 'Archivo Narrow', sans-serif;
    line-height: 8px;
    font-weight: 700;
}

#experience{
    width: 80vw;
    height: 100vh;
    background-image: url(../img/hayat7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    font-family: 'Odibee Sans';
    align-items: center;
}
.experience-details {
    display: block;
    margin-left: 40%;
    margin-top: 20%px;
}
.experience-details p {
    font-size: 25px;
    color: #5f6667;
    font-family: 'Archivo Narrow', sans-serif;
    line-height: 8px;
    font-weight: 700;
}